---
import Image from "astro/components/Image.astro";

interface CapacityOption {
  label: string;
  value: string;
}

const {
  product_category = "",
  product_title = "",
  product_description = "",
  product_highlights = "",
  product_image = "",
} = Astro.props;
---

<section
  class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-10 px-4 sm:px-6 md:px-10 py-12 items-center bg-white mt-[15dvh]"
>
  <!-- temporary only one image per product -->
  <Image
    id="main-image"
    src={product_image || ""}
    alt="Chiller image with ecochillers logo in the top"
    class="rounded-xl object-contain w-full min-h-[300px] sm:min-h-[400px] md:min-h-[500px] lg:min-h-[600px] max-h-[600px] transition-opacity duration-300"
    width={600}
    height={600}
    inferSize={true}
    loading="lazy"
  />

  <!-- Detalles del producto -->
  <div class="space-y-6">
    <span
      class="inline-block bg-[#24408D] text-white text-sm px-4 py-1 rounded-full font-medium"
    >
      {product_category || "No info yet!"}
    </span>

    <h1 class="text-3xl font-bold text-[#0c0c0c]">
      {product_title || "No title yet!"}
    </h1>

    <p
      class="text-gray-700 font-medium leading-relaxed"
      set:html={product_description || "No description yet!"}
    />

    <p class="text-gray-600" set:html={product_highlights || "No highlights"} />
  </div>
</section>
