# WordPress Headless
VITE_WP_REST_ENDPOINT_ACF=https://site.com/wp-json/acf/v3/
VITE_WP_REST_ENDPOINT=https://site.com/wp-json/wp/v2
VITE_JWT_USER=your_jwt_user
VITE_JWT_PASS=your_jwt_pass

# Astro
PUBLIC_SITE_URL=https://example.com
