---
import MainLayout from "@/src/layouts/MainLayout.astro";
import HeroSection from "@/src/components/hero/HeroSection.astro";
import GeneralSection from "@/src/components/layout/GeneralSection.astro";

import { brandsHvac, highlightsHvac } from "@/src/utils/comps.config";
---

<MainLayout title="MAZ - Servicios para HVAC">
  <HeroSection
    title="HVAC"
    subtitle="Especialistas en servicios HVAC"
    background="/bg-hero-section-1.jpg"
    breadcrumb="Inicio > Servicios > HVAC"
    sectionLabel="Nuestros Servicios"
  />
  <GeneralSection
    categories={[
      { label: "Chillers" },
      { label: "Equipos Tablero y TVR" },
      { label: "Torres de Enfriamiento" },
      { label: "Equipo Paquete y Divididos" },
      { label: "Bombas Centrífugas" },
      { label: "Tubería Hidráulica" },
    ]}
    title="Servicios HVAC Personalizados para Cada Necesidad"
    description={`<p>En <strong>MAZ Soluciones de Agua Helada</strong>, entendemos que cada cliente tiene requerimientos únicos. Por ello, ofrecemos <strong>soluciones HVAC a medida</strong>, asegurando eficiencia energética, reducción de costos operativos y prolongación de la vida útil de tus equipos.</p>`}
    highlights={highlightsHvac}
    brands={brandsHvac}
  />
</MainLayout>
