---
import LeftArrow from "@/public/left-arrow.svg";
import RightArrow from "@/public/right-arrow.svg";

import Image from "astro/components/Image.astro";

const slides = [
  {
    img: "/bg-home-hero-1.webp",
    title: "Soluciones de Climatización Inteligente",
    subtitle:
      "Mejoramos la eficiencia energética y prolongando la vida útil de tus equipos",
  },
  {
    img: "/bg-home-hero-2.webp",
    title: "Servicios HVAC",
    subtitle:
      "Brindamos suministro, instalación, mantenimiento, diagnóstico, reparación, selección de equipos y suministro de refacciones.",
  },
  {
    img: "/bg-home-hero-3.webp",
    title: "Optimización Energética",
    subtitle:
      "Transformamos tu infraestructura con soluciones personalizadas en sistemas HVAC, Chillers y más, garantizando eficiencia enérgetica y máximo rendimiento.",
  },
];
// For the data fetching from wordpress!
// const { slides = [] } = Astro.props;
---

<section class="relative w-full h-screen overflow-hidden">
  <!-- Slides -->
  <div id="carousel-slides" class="h-full w-full relative">
    {
      slides.map(({ title, img, subtitle }, index) => (
        <div
          class="carousel-slide absolute top-0 inset-0 w-full h-full transition-transform duration-700 ease-in-out"
          style={`transform: translateX(${index === 0 ? "0%" : "100%"})`}
        >
          <Image
            src={img}
            alt={`Slide ${index + 1}`}
            class="w-full h-full object-cover"
            width={1600}
            height={394}
            format="webp"
            loading="lazy"
          />
          <div class="absolute inset-0 bg-blue-300/30 z-10" />
          <div class="absolute inset-0 flex flex-col items-center justify-center text-white text-center bg-black/30">
            <h2 class="text-4xl md:text-5xl font-bold">{title}</h2>
            <p class="text-lg md:text-xl mt-4">{subtitle}</p>
          </div>
        </div>
      ))
    }
  </div>

  <!-- Flechas -->
  <button
    id="prev-slide"
    class="absolute top-1/2 left-8 transform -translate-y-1/2 bg-white/30 hover:bg-white/50 duration-100 ease-in p-3 rounded-full cursor-pointer z-11"
  >
    <LeftArrow />
  </button>
  <button
    id="next-slide"
    class="absolute top-1/2 right-8 transform -translate-y-1/2 bg-white/30 hover:bg-white/50 duration-100 ease-in p-3 rounded-full cursor-pointer z-11"
  >
    <RightArrow />
  </button>
</section>

<script is:inline>
  const slides = document.querySelectorAll(".carousel-slide");
  const prevButton = document.querySelector("#prev-slide");
  const nextButton = document.querySelector("#next-slide");

  let currentSlide = 0;
  const totalSlides = slides.length;
  const autoSlideDelay = 4500;

  function showSlide(index) {
    slides.forEach((slide, idx) => {
      if (idx === index) {
        slide.style.transform = "translateX(0%)";
      } else if (idx < index) {
        slide.style.transform = "translateX(-100%)";
      } else {
        slide.style.transform = "translateX(100%)";
      }
    });
  }

  prevButton.addEventListener("click", () => {
    currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;
    showSlide(currentSlide);
  });

  nextButton.addEventListener("click", () => {
    currentSlide = (currentSlide + 1) % totalSlides;
    showSlide(currentSlide);
  });

  setInterval(() => {
    currentSlide = (currentSlide + 1) % totalSlides;
    showSlide(currentSlide);
  }, autoSlideDelay);

  showSlide(currentSlide);
</script>
