---

---

<section
  class="py-16 sm:px-5 md:px-10 lg:px-20 bg-white font-[var(--font-poppins)]"
>
  <div
    class="max-w-6xl mx-auto rounded-xl shadow-lg overflow-hidden bg-[#24408d] flex flex-col lg:flex-row justify-between gap-6 p-4 md:p-6 lg:p-8 min-h-[540px]"
  >
    <!-- Imagen -->
    <div class="lg:w-1/2 w-full">
      <img
        src="/Serv-1.webp"
        alt="Servicios integrales HVAC"
        class="rounded-lg w-full object-cover"
      />
    </div>

    <!-- Texto y botón -->
    <div
      class="lg:w-1/2 w-full text-white space-y-4 h-full flex flex-col justify-between"
    >
      <h3 class="text-2xl font-bold">
        Soluciones integrales en climatización industrial
      </h3>
      <p class="text-sm sm:text-base">
        Instalación, mantenimiento, reparaciones, energía, pintura y más.
        Nuestro portafolio está diseñado para cubrir todas las etapas de un
        sistema HVAC con atención profesional y soporte continuo.
      </p>
      <a
        href="/servicios"
        class="inline-block mt-4 bg-white text-[#24408d] font-semibold px-6 py-2 rounded shadow hover:bg-gray-100 transition"
      >
        Ver todos los servicios
      </a>
    </div>
  </div>
</section>
