---
import ThanksIcon from "@/public/thanks.svg";

import Image from "astro/components/Image.astro";

import "@/src/styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Gracias por tu mensaje</title>
  </head>
  <body
    class="bg-white min-h-screen flex flex-col items-center justify-center px-4 py-12 text-center font-[var(--font-poppins)]"
  >
    <div class="max-w-md w-full space-y-6 animate-fade-in">
      <!-- Logo -->
      <a href="/" class="block mb-4">
        <Image
          src="/Logo-MAZ-Azul.webp"
          alt="Logo de la empresa"
          class="h-36 mx-auto"
          width={100}
          height={100}
          loading="lazy"
        />
        />
      </a>

      <!-- Ícono SVG personalizado -->
      <div
        class="w-20 h-20 mx-auto rounded-full bg-[#24408d] flex items-center justify-center animate-pop-in"
      >
        <ThanksIcon />
      </div>

      <!-- Mensaje -->
      <h1 class="text-2xl font-semibold text-gray-900">
        ¡Gracias por tu mensaje!
      </h1>
      <p class="text-gray-700 text-base">
        Hemos recibido tu información correctamente. Nuestro equipo se pondrá en
        contacto contigo lo antes posible.
      </p>

      <!-- Botón de regreso -->
      <a
        href="/contact"
        class="inline-block mt-6 bg-blue-900 hover:bg-blue-800 text-white font-semibold py-2 px-6 rounded transition-all duration-200"
      >
        Volver al formulario
      </a>
    </div>
  </body>
</html>
