---
import AccordionItem from "@/src/components/AccordionItem.astro";

const faqs = [
  {
    question: "¿Cuándo debo programar el mantenimiento?",
    answer:
      "Recomendamos programarlo mínimo una vez al año antes de cada temporada.",
  },
  {
    question: "¿Con qué frecuencia debo cambiar filtros HVAC?",
    answer: "Cada 1 a 3 meses.",
  },
  {
    question: "¿Tienen garantía las reparaciones?",
    answer: "Sí, ofrecemos garantía en nuestras reparaciones.",
  },
  {
    question: "¿Cómo obtener presupuesto?",
    answer: "Contáctanos por nuestro formulario o correo.",
  },
];
---

<section class="px-[12rem] py-20">
  <div class="flex flex-col md:flex-row gap-12 items-center">
    <div class="flex-1">
      <img
        src="https://placehold.co/600x400?text=FAQ+Image"
        alt="FAQ"
        class="rounded-lg w-full"
      />
    </div>

    <div class="flex-1 space-y-4">
      {
        faqs.map(({ question, answer }) => (
          <AccordionItem question={question} answer={answer} />
        ))
      }
    </div>
  </div>

  <!-- Script global para el manejo del abrir la pregunta para cada pregunta -->
  <script type="module" is:inline>
    const accordions = document.querySelectorAll(".accordion-item");

    accordions.forEach((item) => {
      const trigger = item.querySelector(".accordion-trigger");
      const content = item.querySelector(".accordion-content");
      const svg = trigger.querySelector("svg");

      trigger.addEventListener("click", () => {
        const expanded = trigger.getAttribute("aria-expanded") === "true";

        trigger.setAttribute("aria-expanded", (!expanded).toString());
        item.classList.toggle("open");

        if (!expanded) {
          content.style.maxHeight = content.scrollHeight + "px";
          svg.classList.add("rotate-180");
        } else {
          content.style.maxHeight = "0px";
          svg.classList.remove("rotate-180");
        }
      });
    });
  </script>
</section>
