---
import LinkedIn from "@/public/linkedin.svg";
import Facebook from "@/public/facebook.svg";
import Phone from "@/public/phone.svg";
import Mail from "@/public/mail.svg";
import Location from "@/public/location.svg";
import Whatsapp from "@/public/whatsapp.svg";
---

<footer class="bg-[#0e3e96] text-white px-[8rem] py-12">
  <div class="grid grid-cols-3 gap-15">
    <!-- Columna Izquierda -->
    <div class="flex flex-col justify-between">
      <img src="/Logo-MAZ-Blanco.png" alt="Logo MAZ" class="w-32 mb-6" />
      <p class="text-sm leading-relaxed mb-8">
        Brindamos soluciones integrales en climatización, refrigeración,
        instalaciones eléctricas, ingeniería y mantenimiento, ofreciendo un
        servicio de alta calidad a través de tecnologías innovadoras y un equipo
        altamente capacitado. Nos comprometemos con la eficiencia, cercanía y
        satisfacción de nuestros clientes, asegurando que cada proyecto y
        servicio se realice de manera oportuna, segura y sostenible.
      </p>

      <div class="flex gap-4">
        <a href="https://www.facebook.com/Mazaguahelada/" target="_blank">
          <Facebook width={34} />
        </a>
        <a
          href="https://www.linkedin.com/company/mazaguahelada"
          target="_blank"
        >
          <LinkedIn width={34} />
        </a>
      </div>
    </div>

    <!-- Columna Central (Links) -->
    <div class="flex flex-row justify-start place-items-center gap-3 pt-8">
      <a href="#servicios" class="hover:underline font-semibold">Servicios</a>
      <a href="#productos" class="hover:underline font-semibold">Productos</a>
      <a href="#nosotros" class="hover:underline font-semibold">Nosotros</a>
      <a href="#proyectos" class="hover:underline font-semibold">Proyectos</a>
      <a href="#contacto" class="hover:underline font-semibold">Contacto</a>
    </div>

    <!-- Columna Derecha -->
    <div class="grid grid-cols-1 gap-4 text-sm pt-8">
      <div class="flex items-center gap-4">
        <Mail width={34} />
        <span>ventas@mazaguahelada.com.mx</span>
      </div>

      <div class="flex items-center gap-4">
        <Location width={34} />
        <span>
          Idelfonso Vázquez No. 121, Col. Jardines de Escobedo,<br />
          Gral. Escobedo, N.L, C.P. 66050
        </span>
      </div>

      <div class="flex items-center gap-4">
        <Phone width={34} />
        <span>+52 (81) 1771 4793</span>
      </div>

      <div class="flex items-center gap-4">
        <Whatsapp width={34} />
        <span>+52 (81) 1312 4900</span>
      </div>
    </div>
  </div>
</footer>
