---

---

<header class="relative h-screen w-full overflow-hidden">
  <img
    class="absolute inset-0 w-full h-full object-cover z-0"
    src="/bg-home-hero.jpg"
    alt="Hero background"
  />

  <div
    class="relative z-10 h-full w-full flex flex-col gap-2 items-center justify-center text-white text-center"
  >
    <h1 class="text-5xl md:text-6xl font-bold w-[800px]">
      Soluciones de Climatización Inteligente
    </h1>
    <p class="text-3xl w-[480px]">
      Mejoramos la eficiencia energética y prolongando la vida últil de tus
      equipos
    </p>
  </div>
</header>
