---

---

<nav
  id="main-nav"
  class="absolute w-full z-40 flex items-center justify-between px-[12rem] py-4 bg-transparent"
>
  <img class="w-55" src="/Logo-MAZ-Blanco.png" />
  <ul class="flex gap-6 text-[14pt]">
    <li>Servicios</li>
    <li>Productos</li>
    <li>Nosotros</li>
    <li>Proyectos</li>
    <li>Contacto</li>
  </ul>
  <button id="nav-btn" class="bg-[#24408d] px-[15px] py-[8px] rounded-md">
    Cotiza ahora
  </button>
</nav>
