---
import LinkedIn from "@/public/linkedin.svg";
import Facebook from "@/public/facebook.svg";
import Phone from "@/public/phone.svg";
import Mail from "@/public/mail.svg";
import Clock from "@/public/clock.svg";
---

<nav
  class="w-full bg-[#24408d] text-white text-[12px] h-[6dvh] z-50 flex items-center justify-between px-4 2xl:px-[12rem] lg:px-[4rem] sm:px-[0px]"
>
  <section>
    <ul class="flex gap-4">
      <li class="flex gap-2 items-center">
        <Phone width={34} />
        +52 (81) 1771 4793
      </li>
      <li class="flex gap-2 items-center">
        <Mail width={34} />
        ventas@mazaguahelada.com.mx
      </li>
      <li class="flex gap-2 items-center">
        <Clock width={34} />
        Lun - Vie 8:00 - 18:00
      </li>
    </ul>
  </section>

  <section>
    <ul class="flex gap-2">
      <li>
        <a href="https://facebook.com" target="_blank">
          <Facebook width={34} />
        </a>
      </li>
      <li>
        <a href="https://linkedin.com" target="_blank">
          <LinkedIn width={34} />
        </a>
      </li>
    </ul>
  </section>
</nav>
