---

---

<nav
  class="w-full bg-[#24408d] text-white h-[6dvh] flex items-center justify-between px-[12rem] z-50 "
>
  <section>
    <ul class="flex gap-4">
      <li class="flex gap-2">
        <img class="w-6" src="/phone.png" alt="" />
        +52 (81) 1771 4793
      </li>
      <li class="flex gap-2">
        <img class="w-6" src="/mail.png" alt="" />
        ventas@mazaguahelada.com.mx
      </li>
      <li class="flex gap-2">
        <img class="w-6" src="/clock.png" alt="" />
        Lun - Vie 8:00 - 18:00
      </li>
    </ul>
  </section>

  <section>
    <ul class="flex gap-2">
      <li>
        <a href="https://facebook.com" target="_blank">
          <img class="w-6" src="/facebook.png" alt="" />
        </a>
      </li>
      <li>
        <a href="https://linkedin.com" target="_blank">
          <img class="w-6" src="/linkedin.png" alt="" />
        </a>
      </li>
    </ul>
  </section>
</nav>
