---
import ProductGrid from "@/src/components/ProductGrid.astro";
---

<section class="px-[10rem] py-20">
  <div class="flex flex-col items-center">
    <span
      class="inline-block bg-gray-200 text-gray-600 px-3 py-1 text-sm font-bold rounded-full mb-4"
      >Soluciones completas</span
    >
    <h2 class="text-3xl font-bold mb-4">Nuestros Productos</h2>
    <p class="max-w-7xl mx-auto text-black text-2xl text-center">
      Ofrecemos una gama de chillers diseñados para optimizar tus sistemas de
      refrigeración y aire acondicionado. Con tecnología de vanguardia y
      eficiencia energética, nuestros chiller garantizan un funcionamiento
      fiable, reducción de costos operativos y un ambiente confortable
    </p>
  </div>

  <ProductGrid
    products={[
      {
        img: "https://placehold.co/300x300?text=AeroChill",
        title: "AeroChill",
        description:
          "Ofrece un rendimiento excepcional con tecnología avanzada para un enfriamiento más eficiente y sostenible.",
        link: "#",
      },
      {
        img: "https://placehold.co/300x300?text=Clima+Comfort",
        title: "Clima Comfort",
        description:
          "Sistema compacto ideal para climatizar espacios reducidos de manera eficiente.",
        link: "#",
      },
      {
        img: "https://placehold.co/300x300?text=AeroChill",
        title: "AeroChill",
        description: "Tecnología de vanguardia para máxima eficiencia.",
        link: "#",
      },
      {
        img: "https://placehold.co/300x300?text=FrostWave",
        title: "FrostWave",
        description:
          "Excelente desempeño en condiciones industriales exigentes.",
        link: "#",
      },
      {
        img: "https://placehold.co/300x300?text=ZephyrCool",
        title: "ZephyrCool",
        description: "Alta capacidad de enfriamiento y ahorro energético.",
        link: "#",
      },
      {
        img: "https://placehold.co/300x300?text=PolarAir",
        title: "PolarAir",
        description:
          "Solución compacta para climatización eficiente y sostenible.",
        link: "#",
      },
    ]}
  />
</section>
