---
import Checks from "@/public/checks.svg";

const reasons = [
  {
    title: "Técnicos expertos",
    description:
      "Confíe en nosotros para brindarle soluciones confiables y un servicio excepcional, y tranquilidad para sus necesidades de HVAC.",
  },
  {
    title: "Horario flexible",
    description:
      "Confíe en nosotros para brindarle soluciones confiables y un servicio excepcional, y tranquilidad para sus necesidades de HVAC.",
  },
  {
    title: "Precios Transparentes",
    description:
      "Confíe en nosotros para brindarle soluciones confiables y un servicio excepcional, y tranquilidad para sus necesidades de HVAC.",
  },
  {
    title: "Piezas de Calidad",
    description:
      "Confíe en nosotros para brindarle soluciones confiables y un servicio excepcional, y tranquilidad para sus necesidades de HVAC.",
  },
  {
    title: "Servicios de Emergencia",
    description:
      "Confíe en nosotros para brindarle soluciones confiables y un servicio excepcional, y tranquilidad para sus necesidades de HVAC.",
  },
  {
    title: "Garantía de Satisfacción",
    description:
      "Confíe en nosotros para brindarle soluciones confiables y un servicio excepcional, y tranquilidad para sus necesidades de HVAC.",
  },
];
---

<section class="px-[12rem] py-20">
  <div class="text-center mb-16">
    <span
      class="inline-block bg-[#24408d] text-white px-4 py-1 text-sm font-bold rounded-full mb-4"
    >
      Las 6 razones principales
    </span>
    <h2 class="text-3xl font-bold mb-4">¿Por qué elegirnos?</h2>
    <p class="max-w-4xl mx-auto text-black text-lg">
      Ofrecemos soluciones eficientes, productos de alto rendimiento
      <br />
      y un servicio personalizado que garantiza el éxito de tus proyectos.
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mb-16">
    {
      reasons.map(({ title, description }) => (
        <div class="flex items-start gap-4">
          <div class="bg-[#24408d] p-3 rounded-md transition-all duration-100 hover:scale-110 hover:animate-pulse text-white">
            <Checks />
          </div>
          <div>
            <h3 class="font-bold text-lg mb-2">{title}</h3>
            <p class="text-gray-700 text-sm">{description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
