---
import HeroSection from "@/src/components/hero/HeroSection.astro";
import ProductGrid from "@/src/components/products/ProductGrid.astro";
import MainLayout from "@/src/layouts/MainLayout.astro";

import { fetchHeroSections } from "@/src/utils/queries/fetchHeroSections";
import { fetchAllProducts } from "@/src/utils/queries/fetchAllProducts";

const heroData = await fetchHeroSections("chillers_hero_section");
const allProducts = await fetchAllProducts();
---

<MainLayout title="MAZ - Servicios para Chillers">
  <HeroSection {...heroData} />
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-4 py-12 place-items-center"
  >
    {allProducts.map(({ acf }) => <ProductGrid {...acf} />)}
  </div>
</MainLayout>
