---
const { } = Astro.props;
---
<!--
  Usage:
  <Grid items={array}>
    <div slot-scope="{ item, index }"> ... </div>
  </Grid>
-->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
  <slot />
</div>
