---
interface Project {
  title: string;
  img: string;
  description: string;
  link: string;
}

import Image from "astro/components/Image.astro";

const { projects = [] } = Astro.props;
---

<div class="grid grid-cols-1 gap-8 md:grid-cols-3 md:px-8 lg:grid-cols-4 lg:px-10 place-items-center py-20 ">
  {
    projects.map(({ title, img, link }: Project) => (
      <div>
        <div class="flex flex-col items-center rounded-lg shadow-md w-full max-w-xs overflow-hidden cursor-pointer">
          <!-- Imagen -->
          <a href={link} class="cursor-pointer" >
            <Image
              src={img}
              alt={title}
              class="w-full object-fill transition-opacity duration-500 group-hover:opacity-20"
              width={100}
              height={100}
              loading="lazy"
            />
          </a>
        </div>

        <!-- Título normal -->
        <h3 class="text-md text-center font-bold mt-5">{title}</h3>
      </div>
    ))
  }
</div>
