---
import NavTop from "@/src/components/navs/NavTop.astro";
import Footer from "@/src/components/common/Footer.astro";
import Nav from "@/src/components/navs/Nav.astro";
import "@/src/styles/global.css";

import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth scrollbar-hide">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <NavTop />
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
