---
import NavTop from "@/components/NavTop.astro";
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth scrollbar-hide">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <NavTop />
    <Nav />
    <slot />
    <Footer />
    <script type="module" src="/src/scripts/global.js"></script>
  </body>
</html>
