---
import Footer from "@/src/components/common/Footer.astro";
import Nav from "@/src/components/navs/Nav.astro";
import WhatsAppButton from "@/src/components/common/WhatsAppButton.astro";
import "@/src/styles/global.css";

import { ClientRouter } from "astro:transitions";
import { fetchFooter } from "@/src/utils/queries/fetchFooter";

const footerData = await fetchFooter();

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <Nav variant="white" />
    <slot />
    <WhatsAppButton />
    <Footer {...footerData} />
  </body>
</html>
