---
import { fetchTopSection } from "@/src/utils/queries/fetchNavTop";
import { fetchFooter } from "@/src/utils/queries/fetchFooter";
import { ClientRouter } from "astro:transitions";

import WhatsAppButton from "@/src/components/common/WhatsAppButton.astro";
import ServiceFooter from "@/src/components/common/ServiceFooter.astro";
import TopSection from "@/src/components/layout/TopSection.astro";
import NavWrapper from "@/src/components/navs/NavWrapper";
import "@/src/styles/global.css";

const navData = await fetchTopSection();
const footerData = await fetchFooter();
const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <TopSection {...navData} />
    <NavWrapper client:load />
    <slot />
    <WhatsAppButton />
    <ServiceFooter {...footerData} />
  </body>
</html>
