---
import { fetchTopSection } from "@/src/utils/queries/fetchNavTop";
import { fetchFooter } from "@/src/utils/queries/fetchFooter";
import { ClientRouter } from "astro:transitions";

import WhatsAppButton from "@/src/components/common/WhatsAppButton.astro";
import ServiceFooter from "@/src/components/common/ServiceFooter.astro";
import TopSection from "@/src/components/layout/TopSection.astro";
import NavWrapper from "@/src/components/navs/NavWrapper";
import CardleonSign from "@/src/components/layout/CardleonSign";
import "@/src/styles/global.css";

const navData = await fetchTopSection();
const footerData = await fetchFooter();
const { title, description = "Servicios industriales en chillers y HVAC" } =
  Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-PPJ4F6RG");
    </script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PPJ4F6RG"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <TopSection {...navData} />
    <NavWrapper client:load />
    <slot />
    <WhatsAppButton />
    <ServiceFooter {...footerData} />
    <CardleonSign client:load />
  </body>
</html>
